html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

main {
  flex: 1;
  border: 1px solid #ccc;
  display: flex;
  padding: 100px;
}

.left {
  width: 200px;
  height: 200px;
  margin-right: 100px;
  border: 1px solid #000;
}

.right {
  width: 50%;
  border: 1px solid #000;
}

footer {
  height: 64px;
  border: 1px solid #ccc;
}